.content{
    width: 100%;
/*    display: inline-block;	pas besoin de ca, fin je crois pas*/
/*    vertical-align: top;		*/
/*    overflow:auto;			*/
    font-family: Verdana, Calibri, sans-serif;
    text-align: center;
}
.menufood{
    margin: 20px;
    margin-right: 0;
    margin-left: 2px;
    border: 20px;
    height: 450px;
    text-align: center;
/*    vertical-align: middle;		*/
    border: medium solid #000000;
}
.content:hover .prixKebab{
    display: block;
    position: absolute;
    padding: auto;
    z-index: 1000;
}

.titre{
    font-weight: 90;
    background-color: beige;
}
.img{
    height: 10px;
    width: 10px;
}

.prixKebab{
    display: none;
    color: whitesmoke;
}
