h1{
    font-weight: 800;
}

.recetteKebab{
	text-align: center;
	margin: 20px;
}
.recetteTacos{
	text-align: center;
	margin: 20px;
}

.Titre{
	text-align: center;
	font-size: 60px;
	font-family: Chalkduster, fantasy;
	margin-bottom: 20px;
}